/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.f1{
    position: fixed ;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: green;
    text-align: center;
    color: rgb(230, 203, 128);
}
