<nav class="navbar navbar-dark-expand-sm bg-primary navbar-dark">
  <a href="#" class="navbar-brand">
    <img src="../assets/ness.png" width="50" height="50" class="rounded">
    <h1>Ness Digital Engineering</h1>
  </a>
  <div class="navbar-nav ">
    <div class="nav-link">
      <a class=" btn btn-secondary btn-lg active" routerLink="/employees" routerLinkActive="active" role="button">Employee
        List</a>
      <a class="btn btn-secondary btn-lg active" routerLink="/add" routerLinkActive="active" role="button"
        style="margin-left: 20px;">Add Employee</a>
    </div>
  </div>
</nav>

<div class="container" style="box-sizing: border-box;">
  <br>
  <h2 style="text-align: center;">Employee Database</h2>
  <br>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="f1">
  <div class="container">
    <span>All Rights Reserved 2021 @BidhuDash</span>
  </div>
</footer>